<div class="container-fluid">

    <div class="row mt-4">
        <div class="col">
            <form *ngIf="formActivated">
                <h3>Agregar</h3>
                <div class="form-group">
                    <input type="email" #email class="form-control" placeholder="inserte su email">
                </div>
                <div class="form-group">
                    <input type="text" #password class="form-control" placeholder="inserte tu password">
                </div>
                <button class="btn btn-primary btn-block" (click)="Add(email,password)">Ingresar</button>
            </form>
            
            <form *ngIf="formEditActivated">
                <h3>Editar</h3>
                <div class="form-group">
                    <input type="email" [(ngModel)]="emailUpdate" name="emailUpdate" class="form-control" placeholder="inserte su email">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="passwordUpdate" name="passwordUpdate" class="form-control" placeholder="inserte tu password">
                </div>
                <button class="btn btn-primary btn-block" (click)="editting()">Editar</button>
                <button class="btn btn-success btn-block" (click)="cancel()">cancelar</button>
            </form>

        </div>
        <div class="col ">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of users; let key=index">
                        <button class="btn btn-danger btn-block" (click)="Delete(item.id)">X</button>
                        <div class="card list-group-item-action mb-4">
                            <h4>id: {{item.id}}</h4>
                            <div class="card-header">Correo: {{ item.email}}</div>
                            <div class="card-body">
                                contraseña: {{item.password}}
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" (click)="edit(item.id)">editar</button>
                    </li>
                </ul>
        </div>
    </div>
</div>

